.logo {
    height: 90px;
    padding-left: 14px;
    background: #81bdbb;
    img {
        height: 35px;
        width: 35px;
    }

    h1 {
        font-size: 20px;
        color: #ffffff;
        margin-left: 10px;
    }
}