.header-top {
    height: 60px;
    padding: 0 20px;
    a {
        margin-left: 40px;
    }
}
.header-bottom {
    height: 40px;
    padding: 0 20px;
    border-top: 1px solid #f9c700;
    .breadcrumb {
        margin-left: 30px;
    }
    .weather {
        margin-left: 20px;
    }
}